
.nav-links a{
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: all 0.45s ease;
}

.nav-links a:hover{
    background-color: #fff;
    color: rgba(3, 7, 18, 1);
    border-radius: 3px;
}
.nav-links li{
    transition: all 0.45s ease;
}

.nav-links li:hover{
    transform: scale(1.1);
}